:root {
  --font-georama: Georama;
  --font-acuta: acuta;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-cream: #eee7d2;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
}

body {
  margin: 0;
  font-family: var(--font-acuta);
}

a {
  color: inherit;
  text-decoration: inherit;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}